# Entorno virtual
.venv/
venv/
.venvUnida/

# Variables de entorno
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribución / build
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Bases de datos
*.db
*.sqlite3

# Logs
*.log
logs/

# Flask
instance/
.pytest_cache/